.container_Game {
  width: 100%;
  min-height: 100dvh;
  padding: 1rem;
  background-color: #aed1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5rem;
}

.container_Game > button {
  width: 200px;
  font-size: 25px;
}

.game_selected_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game_selected_item h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
}

.game_selected_item img {
  width: 15rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.game__lixeiras {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.game__lixeira {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 13rem;
  padding: 1rem;
  background-color: transparent;
  border: 0;
}

.game__lixeira:hover {
  filter: brightness(0.9);
}

.game__lixeira:active {
  filter: brightness(0.8);
}

.game__lixeira img {
  max-height: 100%;
  object-fit: contain;
}

.game__lixeira p {
  text-transform: capitalize;
  font-size: 1.5rem;
  text-wrap: nowrap;
}

/** Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_content {
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal_content h1 {
  font-size: 2rem;
  text-align: center;
}

.modal_content p {
  font-size: 1.5rem;
  text-align: center;
}

.modal_content input {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal_content .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}

.modal_content .button {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.modal_content .button:first-child {
  background-color: rgb(221, 34, 34);
}

.modal_content .button:hover {
  filter: brightness(0.9);
}

.modal_content .button:active {
  filter: brightness(0.8);
}

.btn_voltar {
  margin-bottom: 1.5rem;
  background-color: #0078ff; /* azul que combina com fundo */
  border: 2px solid #0078ff;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.2rem;
}

/* Hover e foco: fundo transparente, borda azul e texto azul */
.btn_voltar:hover,
.btn_voltar:focus,
.btn_voltar:active {
  background-color: transparent;
  color: #0078ff;
  border-color: #0078ff;
  outline: none;
}
